.login__buddies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0 auto 16px;
}

.login__title{
    min-width: 285px;
    max-width: 430px;

    padding-right: 76px;
    padding-bottom: 40px;
}

.buddy{
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 14px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    transition: box-shadow .2s ease, transform .2s ease, filter .2s;
}

.buddy--orange:hover,
.buddy--orange.is-selected{
  box-shadow:
    0 0 0 4px rgba(255, 200, 120, 1),
    0 0 18px 6px rgba(255, 170, 90, .75),
    0 0 42px 14px rgba(255, 160, 80, .35);
  transform: translateY(-2px);
}

.buddy--blue:hover,
.buddy--blue.is-selected{
  box-shadow:
    0 0 0 4px rgba(160, 210, 255, 1),
    0 0 18px 6px rgba(110, 180, 255, .75),
    0 0 42px 14px rgba(90, 150, 255, .35);
  transform: translateY(-2px);
}

.buddy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
